#              Set
   It is a collection of unordered(without index) items.

  Each element in the set must be unique and immutable like tupple.
  
  In set data type "set" consider duplicate elements as a single element.

In [48]:
a={1,2,3,2,4,3}  # duplicate keys present but it returns only single key.
print(a)
print(type(a))
print(len(a))

{1, 2, 3, 4}
<class 'set'>
4

How to print an empty set.

In [49]:

# Empty Set
b = set()     # syntax of an empty set.
print(type(b))

<class 'set'>

# # Set Methods


#  .add() Method
 It adds an elements in set

In [50]:
b = set()    # An empty set.
b.add(1)
b.add(2)
b.add(("a","b","c"))  # Adding of tupple
print(b)

{1, 2, ('a', 'b', 'c')}


#  .remove Method
# It removes elements from the set

In [51]:

c ={2,3,4,5,6}
c.remove(3)
print(c)

{2, 4, 5, 6}

#  .clear Method
 It clear all the elemnets inside the set

In [52]:
d = {"ali","usman","zain"}
d.clear()
print(d)  # clean the set

set()


# .uinion Method
  It combines both set values and returns new value.

In [59]:
f = {1,2,3}
g = {3,4,5,6}
print(f.union(g))   # it returns the both set values.

{1, 2, 3, 4, 5, 6}


#.intersection Method
 It combines common values and returns new value.

In [60]:
h = {1,2,3,4,5}
i = {4,5,6,7,8}
print(h.intersection(i))  # Ir returns the common elements.

{4, 5}