#         INTRODUCTION TO PYTHON AS A PROGRAMMING LANGUAGE

# Lecture: 1
# # Variables
# # Data Types
# # Operations
    # what is programming ?
Programming is basically the instructions which is given to the machine in the form of code,
   which is also called High level language and those instructions are
   translated through translator i-e compiler and interpreter to the machine, which is also called Low level language.
   So we have a lot of Programming languages like C++,Java,python etc...
   So now here in this chapter we discuss "Python as a Programming language" which is also called High level language.

# What is Python ?
 Python is simple & Easy Language
# Free & Open Source
# High Level Language
# Easily Understandable Language
# Developed by Guido van Rossum
# Potable (run on every operating system)
# Case Sensitive Language

# Why Python ?
# Versatile Language
# Use in AI & ML
# Use in Data Science
# Use in Web Development
# Use in Game Development

# Before starting coding in Python we need to download Python and VS Code editor or any code editor in our operation system.
# Our First Program

In [1]:
print("Staring with the Supreme name of almighty Allah.")
print("Welcome to our Python Learning Gourney.")
print("Good Morning")
print("Hello Word!")

Staring with the Supreme name of almighty Allah.
Welcome to our Python Learning Gourney.
Good Morning
Hello Word!

# Python Character Sets
# Letters: A to Z, a to z
# Digits: 0 to 9
# Special Symbols: -,+,*,/ etc...
# Whitespaces: Blank Space, Tab,Carriage return,newline etc...


# Note:

In [2]:
print("Starting with the supreme name of almighty Allah.He is the most merciful.")  # normal string
print("Starting with the supreme name of almighty Allah.\nHe is the most merciful.")  # start from next line when put "\n".
print("Starting with the supreme name of almighty Allah.\tHe is the most merciful.")  # leave one word space when put "\t".

Starting with the supreme name of almighty Allah.He is the most merciful.
Starting with the supreme name of almighty Allah.
He is the most merciful.
Starting with the supreme name of almighty Allah.	He is the most merciful.

# Variable
# It is a name given to a memory which is varies in a program.
# For instance

In [3]:
name = "The Winners"
age = 35
marks = 100.0
print(name)
print(age)
print(marks)  # Here we think about double commas which we didnot write while using variables in print section, So for variables don't use double commas in prin() function.

The Winners
35
100.0

# other way to write same variables in a sentence i-e;

In [4]:
name = "The Winners"
age = 35
marks = 100.0
print("My name is:",name)
print("My age is:",age)
print("My marks is:",marks)

My name is: The Winners
My age is: 35
My marks is: 100.0