# Data Types;
# These are the different forms of data.
# String               
# Integer
# Float
# Boolean
# None

In [1]:
name = "The Winners"
age = 35
marks = 100.0
print(type(name))
print(type(age))
print(type(marks))

<class 'str'>
<class 'int'>
<class 'float'>

# String Data Type
# String is a data type in which we store data in text form and put data inside the commas.
# String may be in single commas, double commas or tripple commas.

In [2]:
string = "Hellow World!"
print(string)
print(type(string))

Hellow World!
<class 'str'>

# Integer Data Type
# In this data type, we store data in the form of integers, i-e 0,+1,-1 etc...

In [3]:
integer = 100
print(integer)
print(type(integer))

100
<class 'int'>

# Float Data Type
# In this data Type, we store data in the form of decimal numbers, i-e 0.1, 0.2, 4.2 etc...

In [4]:
float = 100.0
print(float)
print(type(float))

100.0
<class 'float'>

# Boolean Data Type
# It always return True or False

In [5]:
boolean = 4
print(boolean > 3)  # output True which is boolean datatype.
even = True
print(type(even))

True
<class 'bool'>


# None Data Type

In [6]:
none = None
print(none)
print(type(none))

None
<class 'NoneType'>

 Comments in Python

"""Comments are not part of the code but to understand the code"""

In [14]:
p = "Ali is my best friend"
print(p)   # this is string data type, which is (comment)

Ali is my best friend