# #             Tupple  (Data Structure)
 Tupple is a built-in-data type in which we create immutable sequence values put in parenthesis.

>



 It is immutable just like "string" which is also immutable.

In [24]:

a = (33,44,55,66,77,88)
print(a)
print(type(a))
print(len(a))  # Length function
print(a[2])    # Index function
print(a[1:5])  # Slicing function

# while putting single value in tupple must put comma at the end, otherwise python wil consider it other data type.

a1 = ("hello",)
a2 = (2,)
print(a1)
print(a2)
print(type(a1))
print(type(a2))

(33, 44, 55, 66, 77, 88)
<class 'tuple'>
6
55
(44, 55, 66, 77)
('hello',)
(2,)
<class 'tuple'>
<class 'tuple'>


# Tupple Methods
# .index Method :

In [25]:
b = ( 333,222,111,444,555)
b.index(111)
print(b.index(111))

2

#  .count Method :

In [26]:
c = ( 333,111,222,111,444,555,111)
c.count(111)
print(c.count(111))

3

In [27]:
a = input("Enter your first favourite movie name:")
b = input("Enter your second favourite movie name:")
c = input("Enter your third favourite movie name:")
movies = []
movies.append(a)
movies.append(b)
movies.append(c)
print("your favourite movies name:",movies)
#  similarly other way to write code
super_hit_movies = []
super_hit_movies.append(input("enter your first movie:"))
super_hit_movies.append(input("enter your second movie:"))
super_hit_movies.append(input("enter your third movie:"))
print("your best movies name:",super_hit_movies)

Enter your first favourite movie name:3idiot
Enter your second favourite movie name:Mard
Enter your third favourite movie name:Badnam
your favourite movies name: ['3idiot', 'Mard', 'Badnam']
enter your first movie:3idiot
enter your second movie:Badnam
enter your third movie:Mard
your best movies name: ['3idiot', 'Badnam', 'Mard']