# #                            List  (Data Structure)
It is a built-in-data type in which we store set of values. It is mutable and orderless.

It can be stored of various data type i-e; string,integer,float,etc.

In [1]:

a = [11,22,33,44,55,66,77]
print(a)
print(type(a))
print(len(a)) # length of list
print(a[0])  # index in list

[11, 22, 33, 44, 55, 66, 77]
<class 'list'>
7
11


# List is mutable data type
 It means we can change the element in list at specicic index.

In [2]:
list = ["Ali",88,"Peshawar"]
list[1]="Usman"
print(list) # change data in list at specific index, which is mutable.

['Ali', 'Usman', 'Peshawar']


# List Slicing

In [3]:
b = [222,333,444,555,666,777]
print(b[1:5])
print(b[1:4])

[333, 444, 555, 666]
[333, 444, 555]

# Negative Slicing

In [4]:
b = [222,333,444,555,666,777]
print(b[-4:-1])
print(b[-6:-1])

[444, 555, 666]
[222, 333, 444, 555, 666]


# List Methods
 Methods are specific which is applied in one data structure, may be donot apply on the other data structure.


# .append() method :
 Add elements at the end of list.

In [5]:

c = ["Ali","Usman","Huzaifa","Mohsin","Mubarak"]
c.append("Musa khan")
print(c)
# Similarly
c1 = [55,66,33,22,77,11]
c1.append(99)
print(c1)

['Ali', 'Usman', 'Huzaifa', 'Mohsin', 'Mubarak', 'Musa khan']
[55, 66, 33, 22, 77, 11, 99]

#  .sort() method :
 Arrange elements in ascending order in a list.

In [6]:
d = ["Ali","Usman","Huzaifa","Mohsin","Mubarak"]
d.sort()
print(d)
# Similarly
d1 = [55,66,33,22,77,11]
d1.sort()
print(d1)

['Ali', 'Huzaifa', 'Mohsin', 'Mubarak', 'Usman']
[11, 22, 33, 55, 66, 77]


#   Reverse sort Method :
Arrange the elements in descending order in a list.

In [10]:

d2 = [55,66,33,22,77,11]
d2.sort(reverse=True)
print(d2)

[77, 66, 55, 33, 22, 11]


# .insert() Method :
This method is closely related to append method but here we add element at particular index while in append we just add the element at the end of list.

In [12]:
e = ["Apple","Banana","Vegetable","Potato"]
e.insert(2,"Peach")
print(e)
e1 = [11,22,33,44]
e1.insert(1,999)
print(e1)

['Apple', 'Banana', 'Peach', 'Vegetable', 'Potato']
[11, 999, 22, 33, 44]

# .remove() Method :
 This method is used for removing any element from the list without mentioning particular index.

In [13]:
f = ["Apple","Banana","Vegetable","Potato"]
f.remove("Vegetable")
print(f)
# Similarly
f1 = [111,222,333,444,555,666]
f1.remove(333)
print(f1)

['Apple', 'Banana', 'Potato']
[111, 222, 444, 555, 666]


# .pop Method :
 This method use for remove any element from the list at particular index.

In [15]:

g = ["Apple","Banana","Vegetable","Potato"]
g.pop(2)
print(g)
# Similarly
g1 = [111,222,333,444,555,666]
g1.pop(2)
print(g1)

['Apple', 'Banana', 'Potato']
[111, 222, 444, 555, 666]