# ***Operators and Type Conversion***

# Arithmetic Operators (+, -, *, /, %, **)

In [1]:

ali = 6
hasseb = 6
print(ali + hasseb)  # + operator
print(ali - hasseb)  # - operator
print(ali * hasseb)  # * operator
print(ali / hasseb)  # / operator
print(ali % hasseb)  # % operator : reminder output
print(ali ** hasseb)  # ** operator

12
0
36
1.0
0
46656


# Difference b/w Division "/" and Floor Division "//""
"""single divide returns the float type value while
double // returns the integer value."""

In [2]:
x = 10
y = 10
print (x/y) # float type output

# Floor Division Operator
x = 20
y = 20
print(x//y) # Floor division (integer type output)

1.0
1


# Relational / Comparison Operators (==,!=,>,<,>=,<=,)
# It always returns the boolean type value.

In [3]:

s = 40
r = 20
t = (s == r)
t1 = (s != r)
t2 = (s > r)
t3 = (s < r)
t4 = (s >= r)
t5 = (s <= r)
print(t)
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

False
True
True
False
True
False

# Assignment Operators (=,+=,*=,-=,/=,%=,**=)

In [4]:

a = 30
a += 20
print(a)

a = 30
a -= 20
print(a)

a = 3
a *= 2
print(a)

a = 3
a /= 2
print(a)

a = 3
a %= 2
print(a)

a = 3
a **= 2
print(a)

50
10
6
1.5
1
9

# Membership operators;

In [5]:
xy = ["shakir",222,"ali","musa",3333,"shakoor"]
sam = ( 222 in xy)
print(sam)

xy = ["shakir",2222,"ali","musa",3333,"shakoor"]
sam = (22 not in xy)
print(sam)

True
True


# Logical Operators (not,and,or)
# not operator :
 "not" operator returns the opposite value of the given value.

 It works based on single value.

In [6]:
k = not True
l = not False
print(k)
print(l)
# Similarly
ab = 88
ac = 33
bc = (not (ab>ac))
print(bc)
print(type(bc))

False
True
False
<class 'bool'>


# and operator :
 It works based on two values.

In [7]:
A = 55
B = 99
C = ((A<=B) and (A<B)) # It's output will be true, when both logics are correct.
print(C)
print(type(C))

True
<class 'bool'>

# or operator ;

In [8]:
A = 55
B = 99
C = ((A<B) or (A==B)) # It's output will be true, when one of them (logic) will be correct.
print(C)
print(type(C))

True
<class 'bool'>


# Type Conversion :
 When a one data type is coverted into another data type , this is known as Type Conversion.
# Two types of conversion:

# 1 : Type Conversion;

In [10]:
g = 9
h = 6.3
sum = (g + h)
print(sum)     # here python automatically convert the integer value into float value.
print(type(sum))
# Note: it is not possible for python to convert the string into into float, so for this we use type Casting.

15.3
<class 'float'>

#2 : Type Casting

In [14]:

z = int("3")
p = 6.3
sum = (z + p)
print(sum)
                # An examples of type casting.
ali = 99
ali = str(ali)
print(type(ali))

9.3
<class 'str'>